@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

body{
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: hsl(240, 20%, 25%);
  color: #dfdfdf;
}
/*titulo*/
#title{
  margin: 1em auto;
  text-align: center;
  letter-spacing: 3px;
  font-family: "Jura";
}
#description{
  margin: -1em auto 3em auto;
  text-align: center;
}
/*Form*/
#survey-form{
  display: block;
  width: 70%;
  height: auto;
  margin: 0 auto;
}
fieldset{
  border: none;
  margin: 1em 0 0.5em 0;
  border-bottom: 4px solid hsl(240, 30%, 40%);
}
fieldset:last-of-type{
  border-bottom: none;
}
legend{
  font-weight: bold;
  font-size: 1.25em;
  margin: 0 0 0.5em 0;
}
label{
  display: block;
  font-size: 1.2em;
}
input, #dropdown{
  width: 100%;
  height: 2.3em;
  margin-bottom: 1.5em;
}
label[id="estuda"]{
  display: inline-block;
}
input[type="radio"]{
  display: unset;
  width: unset;
  vertical-align: middle;
  position: relative;
  top: 7px;
  margin-left: 2em;
}
input[value="sim"]{
  margin-left: 0;
}
fieldset p{
  margin: 0 0 1em 0;
}

input[type="checkbox"]{
  width: 1.2em;
  vertical-align: middle;
  position: relative;
  top: 7px;
}
.checkbox{
  display: inline-block;
  margin-right: 1em;
  
}

#bio{
  width: 100%;
  resize: vertical;
}
#submit{
  display: block;
  margin: 2em auto;
  width: 50%;
  max-width: 300px;
  min-width: 70px;
  height: 8vw;
  max-height: 60px;
  min-height: 40px;
  font-size: 1.2em;
  background-color: hsl(240, 30%, 40%);
  color: #dfdfdf;
  border: 1px solid #dfdfdf; 
  cursor: pointer;
}